header{
    display:flex;
    justify-content: space-between;
}

#menu-list{
    list-style: none;
    /* margin:0px; */
    padding:0px;
}

#menu-list li{
    display: inline;
    margin-right:15px;
}

#menu-list li a{
    text-decoration: none;
    color:black;
}